        
        <footer class="footer">
            <div class="row">
                <div class="col-25">
                    <h3>Contact</h3>
                    <ul>
                        <li><a href="{{ site.baseurl }}">{{ site.title }}</a></li>
                        <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
                        <li><a href="tel:+{{ site.mobile }}">{{ site.mobile }}</a></li>
                    </ul>
                </div>
                <div class="col-25">
                    <h3>Contact</h3>
                    <ul>
                        <li><a href="{{ site.google-address }}">{{ site.address-line-1 }}</li>
                        <li>{{ site.address-line-2 }}</li>
                        <li>{{ site.address-line-3 }}</a></li>
                    </ul>
                </div>
                <div class="col-25">
                    <h3>Contact</h3>
                    <ul>
                        {% assign sorted_pages = site.pages | sort:"position" %}
                        {% for page in sorted_pages %}
                            {% if page.menu == 'main' %}
                                <li>
                                    <a href="{{ page.url }}">{{ page.title }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-25">
                    <h3>Newsletter</h3>
                        <form action="http://dsrbranding.createsend.com/t/i/s/krsjd/" method="post" id="subForm">
                            <label for="fieldName">Name</label>
                            <input placeholder="Enter your name" id="fieldName" name="cm-name" type="text">
                            <label for="fieldEmail">Email*</label>
                            <input placeholder="Enter your email" id="fieldEmail" name="cm-krsjd-krsjd" type="email" required>
                            <button type="submit">Subscribe</button>
                        </form>
                </div>
            </div>
        </footer>

        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script src="/scripts/all.min.js"></script>

        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='https://www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXXXXX-1','auto');ga('send','pageview');
        </script>

    </body>
</html>