@font-face {
    font-family:'DINPro-Medium';
    src: url('../assets/fonts/DINPro-Medium_gdi.eot');
    src: url('../assets/fonts/DINPro-Medium_gdi.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/DINPro-Medium_gdi.woff') format('woff'),
        url('../assets/fonts/DINPro-Medium_gdi.ttf') format('truetype'),
        url('../assets/fonts/DINPro-Medium_gdi.svg#DINPro-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}

@font-face {
    font-family:'DINPro-Light';
    src: url('../assets/fonts/DINPro-Light_gdi.eot');
    src: url('../assets/fonts/DINPro-Light_gdi.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/DINPro-Light_gdi.woff') format('woff'),
        url('../assets/fonts/DINPro-Light_gdi.ttf') format('truetype'),
        url('../assets/fonts/DINPro-Light_gdi.svg#DINPro-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}